In [1]:
#NaiveBayes project (Weather Prediction)
#Required Modules
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [2]:
#Reading CSV files
df=pd.read_csv('../input/playsheet-ds/playsheet_dataset.csv')
df

     Outlook  Temp Humidity Windy Play
0      Rainy   Hot     High     f   no
1      Rainy   Hot     High     t   no
2   Overcast   Hot     High     f  yes
3      Sunny  Mild     High     f  yes
4      Sunny  Cool   Normal     f  yes
5      Sunny  Cool   Normal     t   no
6   Overcast  Cool   Normal     t  yes
7      Rainy  Mild     High     f   no
8      Rainy  Cool   Normal     f  yes
9      Sunny  Mild   Normal     f  yes
10     Rainy  Mild   Normal     t  yes
11  Overcast  Mild     High     t  yes
12  Overcast   Hot   Normal     f  yes
13     Sunny  Mild     High     t   no

In [3]:
#Encoding the strings to Numericals
Numerics=LabelEncoder()

In [4]:
#Dropping the target variable and make it is as newframe
inputs=df.drop('Play',axis='columns')
target=df['Play']
target

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: Play, dtype: object

In [5]:
#Creating the new dataframe
inputs['outlook_n']=Numerics.fit_transform(inputs['Outlook'])
inputs['Temp_n']=Numerics.fit_transform(inputs['Temp'])
inputs['Humidity_n']=Numerics.fit_transform(inputs['Humidity'])
inputs['windy_n']=Numerics.fit_transform(inputs['Windy'])
inputs

     Outlook  Temp Humidity Windy  outlook_n  Temp_n  Humidity_n  windy_n
0      Rainy   Hot     High     f          1       1           0        0
1      Rainy   Hot     High     t          1       1           0        1
2   Overcast   Hot     High     f          0       1           0        0
3      Sunny  Mild     High     f          2       2           0        0
4      Sunny  Cool   Normal     f          2       0           1        0
5      Sunny  Cool   Normal     t          2       0           1        1
6   Overcast  Cool   Normal     t          0       0           1        1
7      Rainy  Mild     High     f          1       2           0        0
8      Rainy  Cool   Normal     f          1       0           1        0
9      Sunny  Mild   Normal     f          2       2           1        0
10     Rainy  Mild   Normal     t          1       2           1        1
11  Overcast  Mild     High     t          0       2           0        1
12  Overcast   Hot   Normal     f          0       1           1        0
13     Sunny  Mild     High     t          2       2           0        1

In [6]:
#Dropping the string values
inputs_n=inputs.drop(['Outlook','Temp','Humidity','Windy'],axis='columns')
inputs_n

    outlook_n  Temp_n  Humidity_n  windy_n
0           1       1           0        0
1           1       1           0        1
2           0       1           0        0
3           2       2           0        0
4           2       0           1        0
5           2       0           1        1
6           0       0           1        1
7           1       2           0        0
8           1       0           1        0
9           2       2           1        0
10          1       2           1        1
11          0       2           0        1
12          0       1           1        0
13          2       2           0        1

In [7]:
#Applying the Gaussian naivebayes
Classifier=GaussianNB()
Classifier.fit(inputs_n,target)

GaussianNB()

In [8]:
#85% accuracy 
Classifier.score(inputs_n,target)

0.8571428571428571

In [9]:
Classifier.predict([[0,0,0,1]])

array(['yes'], dtype='<U3')